body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navigation-bar {
  width: 100%;

}

.login-bar {
  width: 100%;
  padding: 10px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #9a9a9a;
}

.login-bar a {
  margin: 0px 10px;
  font-size: 2em;
  text-decoration: none;
  color: black;
}

.login-bar div:nth-child(2) {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.login-bar button {
  border: none;
  background: white;
  border-radius: 3px;
  padding: 0.75em 1em;
  margin: 0 1em;
  cursor: pointer;
}

.login-bar .cart_button {
  max-width: 4%;
  background-color: white;
  border: none;
  background: white;
  border-radius: 3px;
  padding: 0.2em 1em;
  margin: 0 1em;
  cursor: pointer;
}

.menu {
  width: 100%;
  padding: 0px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}

.home-products-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.products {
  width: 90%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.product-item {
  width: 20vw;
  height: 65vh;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin: 5px;
  padding: 5px;
  display: flex;
  flex-flow: column;
  border: 1px solid grey;
}

.product-item-id {}

.product-item-img {
  width: 100%;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-item img {
  width: 100px;
  height: 100px;
  object-fit: contain;
}

.product-item-title {
  min-height: 20%;
  font: 20px Verdana, sans-serif;
}

.product-item .desc {
  min-height: 30%;
}

.product-item .price {
  font: 600 20px Arial, sans-serif;
  padding: 1em 0;
}

.product-item button {
  border: 1px solid;
  background: #f9ffe3;
  border-radius: 3px;
  padding: 0.75em 1em;
  margin: 0 1em;
  cursor: pointer;
}

.product-item button:hover {
  background-color: #8efc63;
}

/* .navigation-bar button {
  width: 100%;
  border: none;
  background: white;
  border-radius: 3px;
  padding: 0.75em 1em;
  margin: 0 1em;
  cursor: pointer;
} */

.order-summary {
  display: flex;
}

.user-input {
  max-width: 300px;
  margin-left: 1rem;
}

.user-input-button {
  width: 100px;
  border-radius: 5px;
  margin-top: 5px;
  cursor: pointer;
}